.img{
	border: 1px solid rgba(120,120,120,1);
}

.img:hover{
	border: 3px solid rgba(100,100,100,0.6);
	box-shadow: inset rgba(90,90,90,0.5);
}

.img img{
	width: 100%;
	height: auto;
}

.img p{
	padding: 15px;
	text-align: center;
}