ul {
	margin: 0;
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	list-style-type: none;
}

ul li {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background: rgba(60,60,60,1);
	font-size: 18px;
	transition: 0.2s;
	font-family: 'Lucida Console';
/* make the list items unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
	background: rgba(100,100,100,0.8);
}
/* Darker background-color on hover */
ul li:hover {
	background: rgba(0,0,0,0.3);
}
/* When clicked on, add a background color and strike out text */
ul li.checked {
	background: rgba(110,110,110,0.8);
	color: rgba(150,150,150,0.7);
	text-decoration: line-through;
}
/* Add a "checked" mark when clicked on */
ul li.checked::before {
	content: '';
	position: absolute;
	border-color: rgba(150,150,150,0.7);
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 14px 18px 14px 18px;
}
.close:hover {
	background-color: rgba(100,100,100,1);
	color: white;
}