.perInf{
	margin: 40px 100px 40px 120px;
}

.item{
	background-color: rgba(120,120,120,0.6);
	border-radius: 15px;
	text-align: right;
	padding: 5px;
	padding-right: 70px;
}

.item:hover{
	background-color: rgba(150,150,150,0.6);
	border-radius: 150px;
}